snippet bt-popover "Enable popovers everywhere"
$(function () {
	$('[data-toggle="popover"]').popover()
})
endsnippet

snippet bt-tooltip "Enable tooltips everywhere"
$(function () {
	$('[data-toggle="tooltip"]').tooltip()
})
endsnippet
